<%# Write your code here! %>
<!DOCTYPE HTML>
<html>
  <head><title></title></head>
  <body>
    <h1>Welcome!</h1>
    
    <form>
      <input name="user_name">
      <input type="submit" name="Submit" value="Submit">
    </form>
  </body>
</html>